<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<mat-toolbar>
  <button mat-button [matMenuTriggerFor]="toolsMenu">
    <mat-icon>menu</mat-icon> Front-end työkalut
  </button>
</mat-toolbar>

<mat-menu #toolsMenu="matMenu">
  <a mat-menu-item routerLink="/calculator" routerLinkActive="active">Calculator</a>
  <a mat-menu-item routerLink="/palaute" routerLinkActive="active">Feedback</a>
  <a mat-menu-item routerLink="/hello" routerLinkActive="active">Hello World!</a>



</mat-menu>
  